{% extends 'base.html' %}

{% block content %}

<h1>Create Genre</h1>

<form method="POST" action="{{ url_for('main.create_genre') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter a new genre</legend>

        {{ form.name.label }}
        {{ form.name }}
        <!-- Show form errors -->
        <ul>
        {% for error in form.name.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
            
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}